<section class="newsletter" style="background-image: url(images/newsletter.png);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-11 offset-md-1">
                <div class="title">
                    <h1><small>Receba Nossas</small> Novidades e Promoções</h1>
                </div>
            </div>
            <div class="col-12">
                <form action="">
                    <div class="mail-input">
                        <input type="email" placeholder="seu e-mail">
                        <button type="submit">
                            <img src="images/arrow.png" alt="">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
